<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--<bean id="jedisPool" class="redis.clients.jedis.JedisPool" destroy-method="destroy">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        &lt;!&ndash;本地电脑的ip&ndash;&gt;
        <constructor-arg index="1" value="192.168.1.104"/>
        <constructor-arg index="2" value="6379" type="int"/>
        <constructor-arg index="3" value="2000" type="int"/>
    </bean>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        &lt;!&ndash;最大连接数 &ndash;&gt;
        <property name="maxTotal" value="5000"/>
        &lt;!&ndash;最大空闲连接数 &ndash;&gt;
        <property name="maxIdle" value="100"/>
        &lt;!&ndash;初始化连接数 &ndash;&gt;
        <property name="minIdle" value="100"/>
        &lt;!&ndash;最大等待时间 &ndash;&gt;
        <property name="maxWaitMillis" value="1000"/>
        &lt;!&ndash;定时对线程池中空闲的链接进行validateObject校验 &ndash;&gt;
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="true"/>
        &lt;!&ndash;在进行returnObject对返回的connection进行validateObject校验 &ndash;&gt;
        <property name="testOnReturn" value="true"/>
    </bean>-->
</beans>